.footer {
    padding: 22px;
    background: #242424;

    color: white;
    font-size: 10px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
    line-height: 16px;

}

.footer svg {
    margin-right: 12px;
}

@media screen and (min-width: 768px) {
    .footer {
        position: relative;
        padding: 41px;
        font-weight: 300;
        font-size: 15px;
    }

    .footer__column {
        display: flex;
    }

    .footer__phone {
        margin-right: 1em;
    }

    .footer__center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
