@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url("../fonts/Gilroy-Bold.otf") format("opentype");
    font-weight: 700;
}

.navigation {
    padding: 2.5em 2em 2.5em 2em;
}

.navigation__front {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__brand {
    content: url('../img/logo.png');
}

.navigation__content {
    margin-top: 1em;
    margin-left: 1em;
    display: none;
}

.navigation__items {
    list-style-type: none;
}

.navigation__item {
    margin: 1em 0;
}

.navigation__item a {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: white;

    text-decoration: none;
}

.navigation__item a:hover, .navigation__item--active a {
    color: #59B3D7;
}

.navigation--active {
    background: #19357C;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.navigation__close {
    z-index: 1;
    display: none;
}

.navigation--active .navigation__brand {
    opacity: 0;
}

.navigation--active .navigation__burger {
    display: none;
}

.navigation--active .navigation__content {
    display: block;
}

.navigation--active .navigation__close {
    display: block;
}

.navigation__copy {
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 0.9em;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;

    z-index: 1;
}

.shape {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background: #59B3D7;
    border-radius: 45px;

    transform: translateX(60%) rotate(33deg);

    z-index: 0;
}

.icon {
    cursor: pointer;
}

.shape__circle {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    background: white;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.25);

    width: 49px;
    height: 49px;

    transform: translateX(-50%);
}


/* Desktop */
@media screen and (min-width: 768px) {
    .navigation__burger {
        display: none;
    }

    .navigation {
        padding: 4em 6em 4em 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation--active .navigation__brand {
        opacity: 1;
    }

    .navigation--active {
        background: transparent;
        width: 100%;
        height: auto;
        position: relative;
    }

    .navigation__brand {
        content: url('../img/logo-big.png');
    }

    .navigation__copy {
        display: none;
    }

    .navigation__content {
        display: block;
        margin: 0;
    }

    .navigation__items {
        display: flex;
        align-items: center;
    }

    .navigation__item {
        margin: 0 3em;
    }

    .navigation__item a {
        font-family: 'Gilroy', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

    .shape {
        background: #19357C;
        border-radius: 90px;
        width: 700px;
        height: 700px;
        transform: translateY(-512px) rotate(9deg);
        z-index: -1;
    }

    .shape__circle {
        display: none;
    }
}

.welcome {
    margin-top: 1em;
    padding: 0 2em;
}

.welcome__heading {
    font-size: 36px;
    color: #19357C;
    font-weight: 800;
    font-family: 'Gilroy', sans-serif;
}

.welcome__heading span {
    color: #59B3D7
}

.welcome__text {
    margin-top: 2em;

    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
}

.welcome__link {
    margin-top: 2.5em;

    width: 100%;
    background: #19357C;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
    border-radius: 8px;
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .welcome {
        margin-top: 10em;
        padding: 0 6em;

    }

    .welcome__heading {
        font-size: 62px;
    }

    .welcome__text {
        font-size: 19px;
        line-height: 2em;
        max-width: 70%;
    }

    .welcome__link {
        height: 67px;
        width: 289px;
    }
}

.specs {
    padding: 0 2em;
}

.spec {
    margin-top: 4em;
}

.spec__heading {
    display: flex;
    align-items: center;
}

.spec__heading svg {
    flex-shrink: 0;
}

.spec__heading h2 {
    margin-left: 5px;

    color: #242424;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Gilroy', sans-serif;
}

.spec__content {
    margin-top: 2em;

    color: #0D0D0D;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
    font-family: 'Gilroy', sans-serif;
}

.spec__gallery {
    margin-top: 4em;
}

.gallery {
    position: relative;
}

.gallery__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__content {
    display: flex;
    align-items: center;
    margin-bottom: 4em;
}

.gallery-item {
    width: 100%;
    height: 200px;
    border-radius: 16px;
    background: gray;

    position: relative;
    flex-shrink: 0;

    margin: 0 2.2em;
}

.gallery__content .gallery-item:first-of-type {
    margin-left: 0;
}

.gallery-item__shadow, .gallery-item__gradient {
    border-radius: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-item__shadow {
    background: rgba(36, 36, 36, 0.15);
    filter: blur(32px);
}

.gallery-item__gradient {
    background: linear-gradient(180deg, rgba(36, 36, 36, 0) 55.24%, rgba(19, 19, 19, 0.85) 106.06%);
}

.gallery__btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 30px rgba(25, 53, 124, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__nav .gallery__btn:nth-of-type(1) {
    transform: translateX(-1em);
}

.gallery__nav .gallery__btn:nth-of-type(2) {
    transform: translateX(1em);
}

@media screen and (min-width: 768px) {
    .specs {
        margin-top: 10em;
        padding: 0 6em;
    }

    .spec__heading {
        font-size: 40px;
    }

    .spec__content {
        line-height: 30px;
        max-width: 50%;
    }

    .gallery-item {
        width: 434px;
        height: 289px;
    }
}

.footer {
    padding: 22px;
    background: #242424;

    color: white;
    font-size: 10px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;

    display: flex;
    justify-content: space-between;
}

.footer__col:nth-child(1) {
    width: 50%;
}

.footer__col:nth-child(2) {
    width: auto;
}

.footer span {
    display: block;
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.footer span svg {
    margin-right: 1em;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 41px;
        font-weight: 300;
        font-size: 15px;
    }

    .footer__col {
        width: auto;
        display: flex;
        align-items: center;
    }

    .footer span {
        margin: 0 1.5em;
    }

    .footer__center {
        display: block;
    }
}