*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

