.blog {
    margin-top: 8em;
}

.blog__heading {
    margin-top: 4em;
}

.blog__heading h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    
    color: #4FB2D4;
}

.blog__heading p {
    margin-top: 1.5em;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #242424;
    margin-bottom: 5em;
}

.blog__categories {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.blog__category {
    cursor: pointer;
    display: block;
    padding: 7px;
    border-bottom: 1px solid #19357C;

    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 11px;
    height: 32px;
    color: #19357C;
}

.blog__category:hover {
    font-weight: 700;
}

.blog__entries {
    margin-top: 2.5em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5em;
}

.blog-entry {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.blog-entry__thumb {
    background: gray;
    height: 257px;

    border-radius: 12px;
    z-index: 2;
}


.blog-entry__frame {
    position: relative;
    top: -20px;
    box-shadow: 0px 2px 30px rgba(25, 53, 124, 0.12);
    height: 200px;
    background: #FFFFFF;
    border-radius: 12px;
    z-index: 3;

    padding: 24px 2em;
}

.blog-entry__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-entry__category {
    cursor: pointer;
    padding: 0.5em;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    color: #FFFFFF;
    background: #4FB2D4;
    border-radius: 4px;
}

.blog-entry__date {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #242424;
}

.blog-entry h4 {
    margin: 1em 0;
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.blog-entry p {
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 16px;
    color: #242424;
}

@media screen and (min-width: 768px) {
    .blog {
        margin-top: 2em;
    }
    
    .blog__categories {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #19357C;
    }

    .blog__category {
        border-bottom: none;
        margin: 0 2em;
    }

    .blog__entries {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1.5em;
        margin-bottom: 9em;
    }
}
