.welcome {
    margin-top: 8em;
}

.welcome__heading {
    font-size: 36px;
    color: #19357C;
    font-weight: 800;
    font-family: 'Gilroy', sans-serif;
}

.welcome__heading span {
    color: #59B3D7
}

.welcome__text {
    margin-top: 2em;

    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
}

.welcome__link {
    margin-top: 2.5em;

    width: 100%;
    background: #19357C;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 1em 0;
    border-radius: 8px;
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .welcome {
        margin-top: 8em;
    }

    .welcome__heading {
        font-size: 62px;
    }

    .welcome__text {
        font-size: 19px;
        line-height: 2em;
        max-width: 70%;
    }

    .welcome__link {
        height: 67px;
        width: 289px;
    }
}

.spec {
    margin-top: 4em;
}

.spec__heading {
    display: flex;
    align-items: center;
}

.spec__heading svg {
    flex-shrink: 0;
}

.spec__heading h2 {
    margin-left: 5px;

    color: #242424;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Gilroy', sans-serif;
}

.spec__content {
    margin-top: 2em;

    color: #0D0D0D;
    font-weight: 300;
    font-size: 1em;
    line-height: 25px;
    font-family: 'Gilroy', sans-serif;
}

.spec__gallery {
    margin-top: 4em;
}



@media screen and (min-width: 768px) {
    .specs {
        margin-top: 10em;
    }

    .spec__heading {
        font-size: 40px;
    }

    .spec__content {
        line-height: 30px;
        max-width: 50%;
    }
}

.clients {
    padding: 3.5em 0;
    margin-top: 3em;
    background: #F9F9F9;
}

.clients__heading {
    text-align: center;

    font-family: 'Gilroy';
    font-weight: 800;
    font-size: 30px;
    color: #242424;
}

.clients__list {
    margin-left: -1em;
    margin-right: -1em;

    margin-top: 1.2em;

    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
    row-gap: 1em;
    column-gap: 1em;
}

@media screen and (min-width: 768px) {
    .welcome {
        margin-top: 6em;
    }

    .clients__heading {
        font-size: 40px;
    }
    .clients__list {
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
