.project {
    margin-top: 8em;
}

.project__nav {
    margin-bottom: 1em;
}

.project__article {
    font-family: 'Gilroy', sans-serif;
}

.project__article h2 {
    font-weight: 700;
    font-size: 30px;
    color: #242424;
}

.project__video {
    height: 284px;
    width: 100vw;
    margin-left: -2em;
    background: gray;

    margin-top: 1.5em;
    margin-bottom: 2em;
}

.project__article p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #242424;
}

.project__resources {
    margin: 3.5em 0;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    column-gap: 2.5em;
}

.resource {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 30px rgba(25, 53, 124, 0.12);
    padding: 2em;
    margin: 0 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Gilroy', sans-serif;
}

.resource h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
}

.resource p {
    margin-top: 6px;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #242424;
}

.project__others h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #242424;

    margin-top: 3em;
    margin-bottom: 1.5em;
}


@media screen and (min-width: 768px) {
    .project {
        margin-top: 2em;
    }
    .project__video {
        margin-left: -6em;
    }
    .project__resources {
        grid-template-columns: repeat(4, 1fr);
    }
}
